<%= error_messages_for 'text_block' %>

<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 25 %></p>
  <p><%= f.text_area :text, label: l(:field_text_block_text), rows: 10 %></p>
</div>

<%= wikitoolbar_for 'text_block_text' %>




