<% path_for_text_block = text_block.project ? project_text_block_path(text_block.project, text_block) : text_block_path(text_block) %>
<tr>
  <td><%= link_to text_block.name, path_for_text_block %></td>
  <td><%= text_block.text %></td>
  <td><%= delete_link path_for_text_block %>
</tr>
