<tr>
  <td><%= link_to text_block.name, (text_block.project ? edit_project_text_block_path(text_block.project, text_block) : edit_text_block_path(text_block)) %></td>
  <td class="text"><div><%= textilizable text_block.text %></div></td>
  <td class="text"><div>
    <% text_block.issue_statuses.pluck(:name).map do |s| %>
      <%= textilizable s %>
    <% end %>
  </div></td>
  <td><%= delete_link(text_block.project ? project_text_block_path(text_block.project, text_block) : text_block_path(text_block)) %></td>
</tr>
