/**************************************************************/
/*                  ICONS
/**************************************************************/

#admin-menu a.text-blocks { background-image: url(../images/text_signature.png);}


/**************************************************************/
/*                  TextBlocks table
/**************************************************************/

table.list.textblocks tbody td { vertical-align: top; }
table.list.textblocks tbody td.text { text-align: left; }
table.list.textblocks tbody td.text div { height: 3.8em; }


/**************************************************************/
/*                  TextBlocks template selector
/**************************************************************/

div.jstElements {
  display: inline-flex;
}

@media all and (max-width: 899px) {
  #textblock-select {
    order: -1
  }
}

@media all and (min-width: 900px) {
  #textblock-select {
    order: 1
  }
}
